.Changelog a {
  color: hsl(var(--color-brandHsl));
}

.Changelog p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.Changelog ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}
