.LoadingState {
  position: absolute;
  display: grid;
  bottom: 0;
  left: 0;
  place-content: center;
  width: 30px;
  height: 20px;
  border-radius: 0px 3px 0 0;
  background-color: var(--color-nodeHover);
  pointer-events: none;
}
