.EditorXYZ {
  overflow: hidden;
}

.Tabs {
  display: grid;
  grid-template: auto minmax(0, 1fr) / minmax(0, 1fr);
  height: 100%;
  padding-top: calc(var(--spacer-px) * 2);
}

.TabsList {
  padding: calc(var(--spacer-px) * 2) calc(var(--spacer-px) * 6) 0;
  border-bottom: 2px solid var(--color-lineColor);
}

.TabsList button {
  padding: calc(var(--spacer-px) * 2);
  border-radius: 3px 3px 0 0;
}

.TabsList button[aria-selected="true"],
.TabsList button[aria-selected="true"]:hover {
  background: var(--color-lineColor);
}

.TabsList button:hover {
  background-color: var(--color-input);
}

.TabsList button:focus {
  outline: none;
  box-shadow: none;
}
