.Tabs {
  display: grid;
  grid-template: auto minmax(0, 1fr) / minmax(0, 1fr);
  height: 100%;
  padding-top: calc(var(--spacer-px) * 2);
}

.TabsList {
  padding: calc(var(--spacer-px) * 2) calc(var(--spacer-px) * 6) 0;
  border-bottom: 1px solid var(--color-uiAccent);
  gap: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.TabsList button {
  padding: calc(var(--spacer-px) * 2) calc(var(--spacer-px) * 3);
  border-radius: 3px 3px 0 0;
  border: 1px solid var(--color-uiAccent);
  border-width: 1px 1px 0 1px;
  color: var(--color-lineNumbers);
  box-shadow: inset 0 -1px 0px 0px var(--color-lineColor);
}

.TabsList button[aria-selected="true"],
.TabsList button[aria-selected="true"]:hover {
  background-color: var(--color-background);
  position: relative;
  color: var(--color-foreground);
}

.TabsList button[aria-selected="true"]::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--color-background);
}

.TabsList button:hover {
  background-color: var(--color-input);
}

.TabsList button:focus {
  outline: none;
  box-shadow: none;
}
