.helpWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.resizable {
  padding: 0 5px calc(var(--spacer-px) * 2) calc(var(--spacer-px) * 2);
  height: 100%;
}

.docsWrapper {
  border-radius: calc(var(--smallest-border-radius-px) * 2);
  background-color: var(--color-input);
  border: 1px solid var(--color-uiAccent);
  overflow: hidden;
  height: 100%;
}

.docsWrapperScroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
