.container,
.featureBlock {
  max-width: 1000px;
  margin-inline: auto;
  width: 100%;
}

.banner .container {
  text-align: center;
  justify-content: center;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.plans_content {
  display: grid;
  gap: calc(var(--spacer-px) * 8);
}

@media screen and (min-width: 800px) {
  .banner .container {
    text-align: left;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    align-items: center;
  }

  .plans_content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
  }

  .featureBlock {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas: "text image";
    gap: calc(var(--spacer-px) * 8);
  }

  .featureBlock .text {
    grid-area: text;
  }

  /* reverse direction alternating rows */
  .featureBlock:nth-child(even) {
    grid-template-areas: "image text";
  }
}

.plans {
  border: 2px solid hsla(var(--color-foregroundHsl), 0.1);
  border-width: 1px 0;
}

.planHeader {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-auto-flow: column;
  gap: calc(var(--spacer-px) * 2);
}

.featureBlock {
  padding-block: calc(var(--spacer-px) * 5);
}

.featureBlock img {
  width: 100%;
  height: auto;
}

.footerBlock {
  border-top: 1px solid hsla(var(--color-foregroundHsl), 0.1);
  text-align: center;
}

.signUpSmall {
  background-color: var(--palette-purple-0);
  border-color: var(--palette-purple-0);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
  box-shadow: rgba(50, 50, 93, 0) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0) 0px 8px 16px -8px;
  transform-origin: center;
  transform: translateZ(0);
}

.signUpSmall:hover,
.signUpSmall:focus {
  background-color: #5062ed;
  border-color: #5062ed;
  color: white;
  scale: 1.05;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
}

.signUpSmall:active {
  background-color: #4354d6;
  border-color: #4354d6;
  color: white;
}

.toggle button:focus {
  box-shadow: none;
}

.toggle button[data-active="true"] {
  color: hsla(var(--color-brandHsl), 1);
}

.price {
  /* color: hsla(var(--color-brandHsl), 1); */
  background-color: hsla(var(--color-foregroundHsl), 0.1);
}

@keyframes jiggle {
  0% {
    transform: translateX(0);
    filter: blur(1px);
    opacity: 0.75;
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0px);
    opacity: 1;
  }
}

.priceAnimate {
  animation: jiggle 0.333s ease-in-out;
}

.animatedStyles {
  /* 740x564 */
  width: 100%;
  aspect-ratio: 1230 / 1134;
  position: relative;
  overflow: hidden;
}

.animatedStyles > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.animatedStyles svg {
  z-index: 1;
}

.animatedStyles img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transform: scale(1.025);
  transition: all 0.666s linear;
}

.animatedStyles img[data-active="true"] {
  opacity: 1;
  transform: scale(1);
}

.video {
  width: 100%;
  aspect-ratio: 1468 / 1080;
  position: relative;
  outline: solid 1px hsla(var(--color-foregroundHsl), 0.125);
  font-size: 0;
  border-radius: calc(var(--smallest-border-radius-px) * 5);
  overflow: hidden;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
}

.video svg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
