---
export interface Props {
	title: string;
	frontmatter?: any;
}

const { title, frontmatter } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const isBlog = currentPath === "blog/" || currentPath.includes('blog/post');

// declare dataLayer on window typescript
declare global {
	interface Window {
		dataLayer: any;
	}
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-1P1MGNT78Q"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){window.dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-1P1MGNT78Q');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		{frontmatter?.canonical && <link rel="canonical" href={frontmatter.canonical} />}
		
		<!-- HTML Meta Tags -->
		<meta name="description" content="Follow the development of the text-to-diagram generator app Flowchart Fun. Includes a Blog, Roadmap, and Changelog.">
	
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://blog.flowchart.fun">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Flowchart Fun Blog">
		<meta property="og:description" content="Follow the development of the text-to-diagram generator app Flowchart Fun. Includes a Blog, Roadmap, and Changelog.">
		<meta property="og:image" content="https://blog.flowchart.fun/preview.png">
	
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="blog.flowchart.fun">
		<meta property="twitter:url" content="https://blog.flowchart.fun">
		<meta name="twitter:title" content="Flowchart Fun Blog">
		<meta name="twitter:description" content="Follow the development of the text-to-diagram generator app Flowchart Fun. Includes a Blog, Roadmap, and Changelog.">
		<meta name="twitter:image" content="https://blog.flowchart.fun/preview.png">
		
		<!-- astro meta -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<a href="/" class="site-brand">
				<svg xmlns="http://www.w3.org/2000/svg" width="66" height="36.69" version="1.0" viewBox="0 0 1040 1040"><style>path {fill:#000;}@media (prefers-color-scheme:dark) { path { fill: #fff; } }</style><path d="M0 517v286h71.5c68.7 0 71.5-.1 72.4-1.9.6-1 .8-2.1.5-2.4-.4-.4-.5-3.5-.4-14.2.1-5.1.1-20.2.1-21.5-.3-7.1-.2-12.1.4-13 .3-.5.3-1-.2-1-.4 0-.7-2.6-.6-5.7.3-9.6.3-12.5.2-18.5 0-3.2.2-6.2.6-6.8.3-.5.3-1-.2-1-.4 0-.7-2.6-.6-5.7.3-9.6.3-12.5.2-18.5 0-3.2.2-6.2.6-6.8.3-.5.3-1-.2-1-.4 0-.7-2.6-.6-5.7.3-9.6.3-12.5.2-18.5 0-3.2.2-6.2.6-6.8.3-.5.3-1-.2-1-.6 0-.9-20.3-.3-24.5.1-.6.1-3.3.1-6-.3-12.3-.2-17.6.4-18.5.3-.6.3-1-.2-1-.4 0-.7-1.7-.6-3.7.1-2.1.2-4.7.2-5.8.1-2 .8-2 114.8-1.9h114.8V474.5l-114.3-.2c-62.9-.1-114.6-.3-114.8-.6-.4-.4-.5-2.9-.3-8.7 0-.8-.1-7.4-.1-14.5-.1-7.2-.1-13.5 0-14 .1-.6.1-3.3.1-6-.1-4.2-.1-10.1-.1-15.8.1-.6 0-6.6 0-13.2-.1-6.6-.1-12.5 0-13 .1-.6.1-3.3 0-6-.2-12.2-.1-15.5.5-16.5.3-.5.3-1-.2-1-.4 0-.7-2.6-.6-5.7.1-3.2.2-6.9.2-8.3l.1-2.5h281.4l.1-58.8V231H0v286zM1033.7 264.6c-.1.1-6 .5-13.2.9-7.1.4-15.2.9-18 1.1-4.9.3-24 1.2-42.5 2-5.2.2-56.3.6-113.5.8-93.2.3-118.8.8-132 2.2-2.2.2-6.5.6-9.5.9-8.3.8-12.9 1.4-16.9 2-2 .4-4.9.8-6.6 1.1-2.7.3-8.1 1.4-15.5 3-1.4.3-3.6.7-5 1-23.1 4.6-56.3 17.3-74 28.3-6.9 4.2-20.3 13.2-21 14-.3.3-2.7 2.4-5.5 4.6-11 8.8-23.6 21-32.6 31.6-9.3 10.9-8.4 9.8-19.9 26.9-4.2 6.3-16 30.8-16 33.3 0 .9-.5 1.7-1.2 1.7-.6 0-.9.3-.6.6.3.3-.3 2.9-1.3 5.7-6.5 17.5-11.1 46.6-11.2 69.7 0 9.1 1 24.9 1.8 29 .3 1.4 1 5.2 1.5 8.5 1.8 10.8 2 12 3 14.5.9 2.2 1.7 5.7 1.9 8.2.2 1.8 2.5.5 7.5-4.5 3-2.8 12.9-12.4 22.1-21.2 9.2-8.8 20.9-20.1 26.1-25.1l9.3-9-1.7-3c-5.9-9.7-13.3-32.2-14.8-44.4-.2-1.9-.7-4.7-1-6.2-.9-4.5-.5-32.3.5-32.3.1 0 .4-1.4.7-3 .7-5.1.9-6 1.7-7.3.5-.6.6-1.2.3-1.2-.8 0 4.3-13 7.7-19.5 12.5-24 37.6-43.8 69.3-54.8 11.7-4.1 27.1-7.8 37.9-9.2 2.2-.3 5.1-.8 6.5-1 12-1.9 52-2.8 51.5-1.1-.2.6-.7 4-1 7.6-.4 3.6-.8 7.6-1 9-.1 1.4-.5 5.6-.9 9.5-.4 3.8-.9 8.1-1.1 9.5-.2 1.4-.7 5.2-1 8.5-.4 3.3-.8 7.3-1 9-.2 1.6-.6 5.9-1 9.5-.3 3.6-.7 7.6-1 8.8-.2 1.3-.7 5.1-1 8.5-.3 3.4-.8 7.8-1 9.7-.2 1.9-.7 5.7-1 8.5-.3 2.7-.8 7-1.1 9.5-.2 2.5-.7 6.3-.9 8.5-.2 2.2-.7 6.7-1.1 10-.4 3.3-.8 7.1-.9 8.5-1.2 11.1-2.3 21-3 26.5-.3 2.2-.7 6-1 8.5-.5 6.2-1.4 14.6-2.1 20-.7 5.7-1.1 9-1.8 16.5-.4 3.3-.9 7.8-1.2 10-.2 2.2-.6 5.6-.8 7.5-.4 3.7-1.4 12.9-2.2 19.5-.3 2.2-.7 6.5-.9 9.5-.3 3-.7 6.6-1 8-.3 1.4-.8 5-1 8-.6 6.8-1.2 12.7-2.1 20.5-.4 3.3-.8 7.1-.9 8.5-2.5 22.3-4.8 39.3-6.2 45.5-.2 1.1-.6 3.3-.9 5-.9 5.6-5.4 21.4-9 31.6-8.9 25.6-22.6 46-39.5 58.7-4.7 3.6-6.1 4.1-9.5 3.8-2.1-.3-6.8-.7-10.4-1-3.6-.3-7.6-.8-9-1-1.4-.2-5.9-.7-9.9-1.1-4.1-.3-7.8-.8-8.1-1-.3-.2-1.1 0-1.8.4-1.7 1-50.2 47.7-50.2 48.3 0 .2 2.1.4 4.8.4 8.3.2 33.5 1.4 40.2 1.9 3.6.2 13.5.7 22 1 8.5.3 18.4.8 22 1 3.6.2 12.4.6 19.5 1 7.2.3 17.3.8 22.5 1.1 5.2.2 13.9.6 19.2.8 5.3.2 10.2.7 10.8 1.1.5.3 1 .1 1-.5s.5-.8 1-.5c.6.4 6.1.9 12.3 1.1l11.2.4 23.5-22.9 23.5-23-6.5-.2c-3.6 0-9-.3-12-.4-5.5-.4-19-1.1-35-2-4.7-.3-11.9-.7-16-.9-23.1-1.4-32.8-1.9-35.4-1.8-4 .2-2.7-.8 7.9-6.4 13.7-7.1 25.1-14.2 33.4-20.7 8.4-6.6 22.1-20.4 22.1-22.3 0-.7.4-1.4.9-1.6 1.1-.4 8.3-13.8 7.3-13.8-.4 0-.2-.4.3-.8.6-.4 1.9-3.4 2.9-6.7 1.1-3.3 2.2-6.5 2.5-7 .3-.6.7-1.5.8-2 .1-.6.7-2.8 1.3-5 1.6-6 1.7-6.6 2.9-11.6.6-2.5 1.3-6.1 1.5-8 .3-1.9 1-6.1 1.5-9.4.6-3.3 1.3-7.9 1.6-10.3.3-2.3.7-5.9 1-8 .2-2 .7-6.4 1-9.7.3-3.3.7-6.9.9-8 .2-1.1.7-5.2 1-9 .4-3.9.9-8.6 1.1-10.5.3-1.9.7-6.7 1-10.5.3-3.9.7-8.1 1-9.5l.5-2.5 14.8.1c8.1.1 28.2.5 44.7.9 41.1 1 70.3 1.1 74.5.3 16-3.1 31.7-11.5 48.4-25.8 6.4-5.4 22-21.5 26.4-27.2 1.3-1.6 1.1-1.7-1.7-1.3-4.7.7-8.3 1.3-11.6 1.9-3.9.6-10.8 1.6-14.8 2.1-1.8.2-5.4.6-8.2 1-9.7 1.2-12.4 1.5-19.7 2-4 .4-8.9.8-10.8 1.1-10.4 1.2-34.1 1.8-82.5 1.8l-54 .1.1-3.5c0-1.9.4-6.4.8-10 1.1-10.6 1.4-13.2 2.1-19.5.3-3.3.8-7.1 1-8.5.2-1.4.7-5.7 1-9.5.3-3.9.8-8.4 1-10 .3-1.7.7-5.3 1-8 .8-7.3 1.4-12.9 2.1-18.3.6-5.4 1.1-10.1 1.9-18.7.3-3.3.8-7.8 1.1-10 .4-2.2.8-5.3.9-7 1.2-11.8 1.6-15.4 2-18.5.3-1.9.7-6.2 1.1-9.5 1.1-11.1 1.3-13 1.9-18 .7-5.2 1-8.3 1.9-17.5.5-5.5.8-7.7 2.1-17.8.7-4.7 1-5.2 3.4-5.3 1.4-.1 3.1 0 3.6.1 2.1.5 12.5.1 13.5-.5.5-.3 1-.2 1 .2 0 .5 3.1.6 6.9.3 3.8-.3 6.8-.3 6.6 0-.2.3 3.1.4 7.3.2 4.3-.2 8.2-.3 8.7-.3 4.6-.1 65.9 1.2 72.5 1.6 15.2.7 28.4 1.5 32.3 2 2 .3 5.6.7 8 1 3.9.5 6 .8 11.2 2 9.1 1.9 17.7 6.9 22.2 12.9 6.4 8.4 7.4 20.9 3.3 42.1-.6 2.7-1.2 6-1.5 7.2-.4 2.1 0 2.3 4.3 2.3 7.4-.1 12.8-3.1 19-10.5 2.1-2.5 8.4-16.5 15.6-34.5 3.7-9.1 7.1-17.3 7.6-18.2.6-1 1-2.3 1-2.9 0-.6.7-2.5 1.4-4.2.8-1.8 4-9.7 7.1-17.7 3.1-8 6.2-15.9 7-17.5.7-1.7 2.2-5.3 3.3-8.1l1.9-5.2-2.9.2c-1.6 0-3 .2-3.1.2z"/></svg>
				<span>Go to Flowchart Fun</span>
			</a>
			<nav>
				<ul>
					<li><a href="/blog/" class={(isBlog ? "active" : "")}>Blog</a></li>
					<li><a href="/blog/roadmap" class={currentPath.startsWith("blog/roadmap") ? "active" : ""}>Roadmap</a></li>
					<li><a href="/blog/changelog" class={currentPath.startsWith("blog/changelog") ? "active" : ""}>Changelog</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		--blue-100: #EEF0FF;
		--blue-500: #6C7DFF;
		--grey: #737373;
		--border-radius: 3px;
		--shadow-color: 233deg 30% 70%;
		--shadow-elevation-low:
			0.5px 0.4px 0.6px hsl(var(--shadow-color) / 0.36),
			0.7px 0.6px 0.9px -1.8px hsl(var(--shadow-color) / 0.28),
			1.7px 1.5px 2.1px -3.7px hsl(var(--shadow-color) / 0.2);
		--shadow-elevation-medium:
			0.5px 0.4px 0.6px hsl(var(--shadow-color) / 0.3),
			0.9px 0.8px 1.1px -0.9px hsl(var(--shadow-color) / 0.26),
			1.9px 1.7px 2.4px -1.8px hsl(var(--shadow-color) / 0.22),
			4.1px 3.8px 5.3px -2.8px hsl(var(--shadow-color) / 0.18),
			8.4px 7.7px 10.8px -3.7px hsl(var(--shadow-color) / 0.14);
		--shadow-elevation-high:
			0.5px 0.4px 0.6px hsl(var(--shadow-color) / 0.28),
			1.2px 1.1px 1.5px -0.4px hsl(var(--shadow-color) / 0.26),
			2px 1.9px 2.6px -0.8px hsl(var(--shadow-color) / 0.24),
			3.3px 3px 4.2px -1.2px hsl(var(--shadow-color) / 0.22),
			5.2px 4.7px 6.6px -1.6px hsl(var(--shadow-color) / 0.21),
			8.1px 7.3px 10.3px -2.1px hsl(var(--shadow-color) / 0.19),
			12.2px 11.1px 15.6px -2.5px hsl(var(--shadow-color) / 0.17),
			17.9px 16.3px 22.9px -2.9px hsl(var(--shadow-color) / 0.15),
			25.4px 23.1px 32.4px -3.3px hsl(var(--shadow-color) / 0.13),
			35.1px 31.9px 44.8px -3.7px hsl(var(--shadow-color) / 0.12);
	}

	html {
		font-family: Inter, system-ui, sans-serif;
		line-height: 1.5;
		font-size: 14px;
	}

	@media (min-width: 1044px) {
		html {
			font-size: 16px;
		}
	}

	body {
		margin: 0;
		background-color: #EEF0FF;
		padding-inline: 20px;
		padding-bottom: 20px;
	}

	body::after {
		content: "";
		display: block;
		height: 33vh;
		background-image: linear-gradient(
			180deg,
			hsl(233deg 100% 97%) 0%,
			hsl(233deg 100% 94%) 21%,
			hsl(233deg 100% 91%) 30%,
			hsl(234deg 100% 88%) 39%,
			hsl(234deg 100% 86%) 46%,
			hsl(234deg 100% 83%) 54%,
			hsl(234deg 100% 80%) 61%,
			hsl(234deg 100% 77%) 69%,
			hsl(234deg 100% 74%) 79%,
			hsl(233deg 100% 71%) 100%
		);
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		mix-blend-mode: color-burn;
	}

	h1 {
		margin: 0;
		font-size: 3rem;
		font-weight: 700;
		line-height: 1.2;
	}

	p.description {
		font-weight: 700;
		margin: 0;
		color: var(--blue-500);
	}

	*:focus-visible {
		outline: 1px dashed var(--blue-500);
		outline-offset: 2px;
	}
</style>

<style>
	header {
		padding-block: 20px;
		display: grid;
		gap: 7px;
		align-items: center;
		margin-inline: auto;
	}

	main {
		background-color: white;
		border-radius: 12px;
		padding: 50px;
		max-width: 1128px;
		margin-inline: auto;
		box-shadow: var(--shadow-elevation-medium);
	}

	@media (min-width: 1044px) {
		header {
			grid-template-columns: auto minmax(0, 1fr) auto;
			grid-gap: 40px;
			justify-content: start;
		}
		
		:root {
			--total: min(max(1000px, 85%), 1400px);
		}
		header {
			padding-block: 40px;
			max-width: var(--total);
		}

		main {
			max-width: calc(var(--total) - 310px);
		}
		nav ul {
			grid-auto-flow: column;
			justify-content: start;
		}

		nav a, .to-ff {
			padding: 8px 20px 9px;
		}

		.site-brand {
			justify-self: auto;
			margin-bottom: 0;
		}

		

	}

	nav ul {
		display: grid;
		grid-gap: 7px;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	nav a, .to-ff {
		display: block;
		border-radius: var(--border-radius);
		border: 1px solid var(--blue-500);
		color: var(--blue-500);
		text-decoration: none;
		padding: 8px 20px;
		font-weight: 700;
		font-size: 0.875rem;
		text-align: center;
	}

	nav a.active {
		background-color: var(--blue-500);
		color: white;
	}

	a.to-ff {
		background-color: white;
	}

	.site-brand {
		line-height: 1;
		align-self: center;
		font-size: 0;
		border-radius: var(--border-radius);
		justify-self: center;
		margin-bottom: 1rem;
	}
	
	.site-brand:focus-visible {
		outline-offset: 4px;
	}

	header .left a {
		/* bold back link */
		/* font-weight: 700; */
		text-decoration: none;
		color: inherit;
		font-size: small;
		text-transform: uppercase;
		background-color: white;
		padding: 4px 8px;
		border-radius: var(--border-radius);
		color: var(--blue-500);
		border: 1px solid var(--blue-500);
	}

</style>