.SwitchRoot {
  --w: 40px;
  --h: 21px;
  width: var(--w);
  height: var(--h);
  position: relative;
  background-color: var(--color-nodeHover);
  border: 1px solid var(--border-color);
  border-radius: 9999px;
}

.SwitchRoot:focus {
  box-shadow: none;
}

.SwitchThumb {
  --offset: 2px;
  width: calc(50% - 2 * var(--offset));
  background: var(--color-edgeHover);
  aspect-ratio: 1;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: var(--offset);
  left: var(--offset);
  transition: left 300ms ease;
}

.SwitchThumb[data-state="checked"] {
  left: calc(50% + var(--offset));
}

.SwitchRoot:hover .SwitchThumb,
.SwitchRoot:focus-visible .SwitchThumb {
  background: var(--color-lineNumbers);
}

.AutoLayout .Play {
  opacity: 0.33;
}
.AutoLayout[class*="checked"] .Play {
  opacity: 1;
}

.AutoLayout[class*="checked"] .Info {
}

.Popover {
  max-width: 400px;
}
