.Button {
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-background);
  color: var(--color-foreground);
  border: 1px solid currentColor;
  background-position: right 12px top 17px;
  background-repeat: no-repeat;
}

.Button:hover {
  background-color: var(--color-uiAccent);
}

.Button:focus,
.Button:active {
  border-color: var(--color-buttonFocus);
  box-shadow: inset 0 0 0 2px var(--color-buttonFocus);
}

.Button:disabled,
.Button:disabled:active {
  border-color: var(--palette-white-3);
  color: var(--palette-white-3);
  box-shadow: none;
}

.Button:disabled:hover {
  background-color: var(--color-background);
}
