.EditorWrapper {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .EditorWrapper {
    /* This is to avoid content going underneath the resizable handle */
    padding-right: 5px;
  }
}

/* .EditorWrapper header {
  padding: calc(var(--spacer-px) * 3) 26px 0;
} */

/* .HeaderTitle > button:first-child {
  overflow: hidden;
  padding: 0;
} */

.HeaderTitle button:first-child h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.ShareButton {
  padding: 10px 16px 10px 17px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 9px;
  color: var(--palette-white-0);
  background-color: var(--palette-purple-0);
  line-height: 1 !important;
}

.ShareButton:focus {
  box-shadow: none;
}

.ShareButton:hover,
.ShareButton:focus-visible {
  box-shadow: 0px 0px 0px 4px hsla(var(--color-brandHsl), 0.33);
}

.ShareButton:active {
  background-color: var(--palette-purple-4);
  outline-color: var(--palette-purple-2);
}

.EditorWrapper [data-rename-button] {
  padding: calc(var(--spacer-px) * 0.5);
  margin-left: calc(var(--spacer-px) * -0.5);
}

.EditorWrapper [data-rename-button]:hover,
.EditorWrapper [data-rename-button]:focus-visible {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-decoration-color: #bbb;
}

.EditorWrapper [data-rename-button]:focus {
  box-shadow: none;
}
