.LoadingState {
  position: absolute;
  display: grid;
  bottom: 0;
  left: 0;
  place-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--color-background);
  border-radius: 50%;
}
