.EditorWrapper {
  display: grid;
  grid-template: auto minmax(0, 1fr) / minmax(0, 1fr);
  width: 100%;
  max-width: 100%;
}

.EditorWrapper.mightLose {
  grid-template-rows: auto auto minmax(0, 1fr);
}

@media screen and (min-width: 800px) {
  .EditorWrapper {
    /* This is to avoid content going underneath the resizable handle */
    padding-right: 5px;
  }
}

.EditorWrapper header {
  padding: calc(var(--spacer-px) * 5) 26px 0;
}

.HeaderTitle {
  display: flex;
  align-items: baseline;
  gap: calc(var(--spacer-px) * 5);
  width: 100%;
}

.HeaderTitle button:first-child {
  overflow: hidden;
  padding: 0;
}

.HeaderTitle button:first-child h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.ShareButton {
  padding: 9px 16px 8px 17px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: var(--palette-white-0);
  border-radius: 9999px;
  background-color: var(--palette-purple-0);
  line-height: 1 !important;
}

.ShareButton:focus {
  box-shadow: none;
}

.ShareButton:hover,
.ShareButton:focus-visible {
  box-shadow: 0px 0px 0px 4px hsla(var(--color-brandHsl), 0.33);
}

.ShareButton:active {
  background-color: var(--palette-purple-4);
  outline-color: var(--palette-purple-2);
}

.EditorWrapper [data-rename-button] {
  padding: calc(var(--spacer-px) * 0.5);
  margin-left: calc(var(--spacer-px) * -0.5);
}

.EditorWrapper [data-rename-button]:hover,
.EditorWrapper [data-rename-button]:focus-visible {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  color: var(--color-uiAccent);
  text-decoration-color: var(--color-uiAccent);
}

.EditorWrapper [data-rename-button]:active {
  color: var(--color-edgeHover);
  text-decoration-color: var(--color-edgeHover);
}

.EditorWrapper [data-rename-button]:focus {
  box-shadow: none;
}

.readOnly {
  text-transform: uppercase;
  color: var(--color-edgeHover);
  font-weight: 700;
}
