.Popover {
  max-width: 400px;
}

.Toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--spacer-px) * 2);
  border-radius: var(--smallest-border-radius-px);
  color: hsl(var(--color-foregroundHsl), 33%);
  border: 1px solid var(--color-uiAccent);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Toggle:hover,
.Toggle:focus-visible {
  background-color: var(--color-lineColor);
  color: hsl(var(--color-foregroundHsl), 66%);
}

.Toggle:focus {
  box-shadow: none;
}

.Toggle[aria-pressed="true"] {
  background-color: var(--color-uiAccent);
  border-color: var(--color-uiAccent);
  color: hsl(var(--color-foregroundHsl), 100%);
}

.Toggle[aria-pressed="true"]:hover {
  background-color: var(--color-edgeHover);
  border-color: var(--color-edgeHover);
}
