.GraphWrapper {
  display: none;
  width: 100%;
  position: relative;
}

.GraphWrapper[data-showing="editor"] {
  display: block;
}

@media (max-width: 799px) {
  .GraphWrapper {
    border-top: solid 1px var(--color-uiAccent);
  }
}
@media (min-width: 800px) {
  .GraphWrapper {
    display: block !important;
  }
}
