.GraphWrapper {
  display: none;
  width: 100%;
  position: relative;
}

.GraphWrapper[data-showing="editor"] {
  display: block;
}

@media (max-width: 799px) {
  .GraphWrapper {
    grid-area: main;
    background-color: var(--color-background);
    z-index: -1;
  }
  [data-mobile-tab="graph"] .GraphWrapper {
    z-index: 1;
  }
}
@media (min-width: 800px) {
  .GraphWrapper {
    display: block !important;
    padding-left: 4px; /* This is for the resize handle */
  }

  .GraphWrapperInner {
    border: 1px solid var(--color-uiAccent);
  }
}

.GraphWrapperInner {
  height: 100%;
  border-top: 1px solid var(--color-uiAccent);
}

.GraphWrapper[data-is-fullscreen="true"] {
  padding: 0 !important;
}
