.GraphContainer {
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 7px;
}

[data-is-fullscreen="true"] .GraphContainer {
  border-radius: 0;
}

.GraphContainer button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

.GraphContainer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.TypeLink {
  text-decoration: none;
  color: inherit;
}
