.GraphContainer {
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0 0 3px 3px;
  border: solid 1px var(--color-uiAccent);
  border-width: 0 1px 1px 1px;
}

.GraphContainer button {
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

.GraphContainer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.TypeLink {
  text-decoration: none;
  color: inherit;
}
