.graphFloatingMenu {
  position: absolute;
  bottom: calc(1px + var(--spacer-px) * 3);
  left: calc(var(--spacer-px) * 2);
  padding: calc(var(--spacer-px) * 0.5);
  border: solid 2px var(--color-uiAccent);
  background-color: var(--color-background);
  color: var(--color-foreground);
  border-radius: calc(var(--smallest-border-radius-px) * 1);
  font-size: 0;
  display: flex;
}

.CustomIconButton {
  width: 32px;
  height: 32px;
}

.CustomIconButton:hover {
  background-color: var(--color-nodeHover);
}

.CustomIconButton:active {
  background-color: var(--color-uiAccent);
}

.CustomIconButton:focus {
  box-shadow: none;
}
