.GraphOptionsBar {
  border-bottom: solid 1px var(--color-uiAccent);
  background-color: var(--color-input);
}

.Select {
  appearance: none;
  border: 1px solid var(--color-edgeHover);
  background: none;
}

.Option[data-focused="true"],
.Option:hover {
  background-color: var(--color-nodeHover);
  cursor: pointer;
}

.Option[aria-selected="true"] {
  background-color: var(--color-uiAccent);
  color: var(--color-foreground);
}

.IconButton:hover,
.IconButton:focus {
  background-color: var(--color-nodeHover);
  outline: none;
  box-shadow: none;
}

.IconButton:disabled {
  color: var(--color-edgeHover);
  background-color: var(--color-input);
}
