.GraphDropdown {
  background-color: var(--color-input);
}
.GraphDropdown:focus,
.GraphDropdown:hover,
.GraphDropdown:focus-visible {
  background-color: var(--color-nodeHover);
  box-shadow: none;
}

.GraphDropdown__dropdown {
  background-color: var(--color-input);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.GraphDropdown__item {
  background-color: var(--color-input);
}

.GraphDropdown__item:focus,
.GraphDropdown__item:hover,
.GraphDropdown__item:focus-visible {
  background-color: var(--color-nodeHover);
  box-shadow: none;
  outline: none;
}

.GraphDropdown__item[data-state="active"] {
  color: var(--color-highlightColor);
}
