.GraphContainer {
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.GraphContainer button {
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

.GraphContainer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.media {
  font-size: 0;
}
