.IconButton:hover,
.IconButton:focus {
  background-color: var(--color-nodeHover);
  outline: none;
  box-shadow: none;
}

.IconButton:disabled {
  color: var(--color-edgeHover);
  background-color: var(--color-input);
}
