.Input {
  border-radius: 0;
  border: 1px solid currentColor;
  background-color: var(--color-input);
  color: var(--color-foreground);
}
.Input input,
.Input textarea {
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--color-foreground);
  width: 100%;
  resize: none;
}

.Input input:focus,
textarea:focus {
  outline: none;
}

.Input:focus-within {
  outline: none;
  border-color: var(--color-buttonFocus);
  box-shadow: inset 0 0 0 2px var(--color-buttonFocus);
}
