.Layout {
  max-height: 100%;
}

@supports (-webkit-touch-callout: none) {
  .Layout {
    max-height: -webkit-fill-available;
  }
}

@media (max-width: 799px) {
  .TabletWrapper[data-showing="editor"] {
    grid-template: minmax(0, 1fr) minmax(0, 1fr) / none;
  }
}

@media (min-width: 800px) {
  .EditorWrapperNext[data-showing="editor"] {
    display: flex;
  }
}
