.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(var(--color-foregroundHsl), 0.25);
}

.content {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--color-background);
  color: var(--color-foreground);
  z-index: 1;
  width: calc(100% - 2rem);
  max-width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
  max-height: calc(100vh - 20%);
  grid-template-rows: auto minmax(0, 1fr) auto;
  z-index: 51;
}

.close {
  border-top: 1px solid var(--color-uiAccent);
}

.close:hover,
.close:focus-visible {
  background: var(--color-nodeHover);
}

.close:focus {
  box-shadow: none;
}

.header {
  border-bottom: 1px solid var(--color-uiAccent);
  position: relative;
  z-index: 1;
  box-shadow: 0 -3px 2px hsla(var(--color-foregroundHsl), 0.05);
  transition: box-shadow 0.2s ease;
}

.description {
  overflow: auto;
  font-size: 17px;
  position: relative;
}

.description p {
  line-height: 1.4;
}

.description p code {
  font-size: 0.9em;
  font-weight: 700;
  background: var(--color-nodeHover);
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.description h1 {
  font-size: 1.333em;
  font-weight: 700;
}

.isScrolled {
  box-shadow: 0 3px 2px hsla(var(--color-foregroundHsl), 0.05);
}

.description h1,
.description h2 {
  margin-bottom: 5px;
}

.description h2 {
  font-size: 1.125em;
  font-weight: 400;
  margin-top: 1em;
  font-weight: 700;

  margin-bottom: 4px;
}

.description section + section {
  margin-top: 2em;
}

.codeExample {
  display: grid;
  --rad: 6px;
  gap: var(--rad);
  margin-top: 1rem;
}

.codeExample[data-has-image="true"] {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.codeExampleCode {
  font-family: monospace;
  border: 1px solid var(--color-uiAccent);
  border-radius: var(--rad);
  padding: 1rem;
  display: grid;
  place-content: center start;
  text-align: left;
  overflow: auto;
}

.codeExampleCode > div {
  white-space: pre;
}

.codeExampleCode [data-highlight] {
  color: var(--color-highlightColor);
}

.codeExampleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--rad);
}
