.Menu {
  border-bottom: 1px solid var(--color-uiAccent);
}

.MenuButton {
  border-right: 1px solid var(--color-uiAccent);
  position: relative;
}

.MenuButton[aria-selected="true"]::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: var(--color-background);
  position: absolute;
  top: 100%;
}

.menuRightButton:hover {
  background-color: var(--color-uiAccent);
}

.menuRightButton:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px var(--color-buttonFocus);
}
