.MenuTabButton {
  cursor: pointer;
}

body:not([class*="disableAnimation"]) .Menu button,
body:not([class*="disableAnimation"]) .Menu .WorkspaceButtonIcon {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 600ms;
}

.MenuTabButton[aria-selected="true"] svg rect:first-child {
  stroke-width: 0;
}

.MenuTabButton[aria-selected="true"] svg rect,
.MenuTabButton[aria-selected="true"] svg line,
.MenuTabButton[aria-selected="true"] svg path,
.MenuTabButton[aria-selected="true"] svg circle,
.MenuTabButton[aria-selected="true"] svg polyline {
  stroke: var(--color-buttonFocus);
}

.MenuTabButton[aria-selected="true"],
.MenuTabButton[aria-selected="true"]:hover,
.MenuTabButton[aria-selected="true"]:focus {
  transition-duration: 1s;
  transition-delay: 100ms;
  background-color: hsl(var(--color-brandHsl), 1%);
}

.MenuTabButton:hover,
.MenuTabButton:focus,
.MenuTabButton[aria-selected="true"]:focus-visible {
  background-color: var(--color-lineColor);
}

.Menu button:focus {
  box-shadow: none;
}

.Menu svg rect,
.Menu svg line,
.Menu svg path,
.Menu svg circle,
.Menu svg polyline {
  stroke-width: 10;
}

/* Workspace Section */
.WorkspaceSection {
  grid-area: main;
  grid-column: span 2;
}

@media (min-width: 800px) {
  .WorkspaceSection {
    grid-column: auto;
  }
}

.Brand {
  fill: var(--color-foreground);
}

.ExportButton {
  background-color: var(--color-input);
  border: 1px solid var(--color-uiAccent);
}

.ExportButton:hover {
  border-color: var(--color-edgeHover);
  /* background-color: var(--color-uiAccent); */
}
