.MenuTabButton {
  cursor: pointer;
}

body:not([class*="disableAnimation"]) .Menu button,
body:not([class*="disableAnimation"]) .Menu .WorkspaceButtonIcon {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 600ms;
}

.MenuTabButton[aria-selected="true"] svg rect:first-child {
  stroke-width: 0;
}

.MenuTabButton[aria-selected="true"] svg:not(.ActiveUser) rect,
.MenuTabButton[aria-selected="true"] svg:not(.ActiveUser) line,
.MenuTabButton[aria-selected="true"] svg:not(.ActiveUser) path,
.MenuTabButton[aria-selected="true"] svg:not(.ActiveUser) circle,
.MenuTabButton[aria-selected="true"] svg:not(.ActiveUser) polyline {
  stroke: var(--color-buttonFocus);
}

/* To fix dot in question mark of help button */
.MenuTabButton[aria-selected="true"] svg:not(.ActiveUser) circle:nth-child(3) {
  fill: var(--color-buttonFocus);
}

.MenuTabButton[aria-selected="true"],
.MenuTabButton[aria-selected="true"]:hover,
.MenuTabButton[aria-selected="true"]:focus {
  transition-duration: 1s;
  transition-delay: 100ms;
  background-color: hsl(var(--color-brandHsl), 10%);
}

.MenuTabButton:hover,
.MenuTabButton:focus,
.MenuTabButton[aria-selected="true"]:focus-visible {
  background-color: var(--color-lineColor);
}

.Menu button:focus {
  box-shadow: none;
}

.Side svg:not(.ActiveUser) rect,
.Side svg:not(.ActiveUser) line,
.Side svg:not(.ActiveUser) path,
.Side svg:not(.ActiveUser) circle,
.Side svg:not(.ActiveUser) polyline {
  stroke-width: 10;
}

/* Workspace Section */
.WorkspaceSection {
  grid-area: main;
  grid-column: span 2;
}

@media (min-width: 800px) {
  .WorkspaceSection {
    grid-column: auto;
  }
}

.Brand {
  fill: var(--color-foreground);
}

.ExportButton {
  border: 1px solid hsl(var(--color-brandHsl), 40%);
  background-color: hsl(var(--color-brandHsl), 10%);
  color: var(--color-darkHighlight);
}

.ExportButton:hover,
.ExportButton:focus {
  background-color: hsl(var(--color-brandHsl), 30%);
}

@media (max-width: 799px) {
  .PageTitle {
    place-self: center;
    grid-column: span 2;
  }
}

.WorkspaceTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button:focus .ActiveUser {
  outline: none;
}

.ActiveUser path,
.ActiveUser circle {
  stroke-width: 1.3;
}

.MenuTabButton[aria-selected="true"] .ActiveUser circle,
.MenuTabButton[aria-selected="true"] .ActiveUser path:not([class*="ignore"]) {
  stroke: var(--color-buttonFocus);
}

.MenuTabButton[aria-selected="true"] .ActiveUser path[class*="eyes"] {
  fill: var(--color-buttonFocus);
}

.Face {
  stroke-width: 10;
}

.WorkspaceButtonIcon {
  width: 30px;
  height: 30px;
}
