.MightLoseWarning {
  margin-inline: calc(var(--spacer-px) * 5);
  margin-top: calc(var(--spacer-px) * 3);
  justify-self: start;
}

.MightLoseWarningInner {
  border: 2px solid var(--color-foreground);
  max-width: 300px;
  display: block;
}

.MightLoseWarningInner a {
  display: block;
  margin-top: calc(var(--spacer-px) * 2);
}

.MightLoseWarningInner a:hover {
  text-decoration: underline;
}

.MightLoseWarningText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
