.Input {
  border-radius: 0;
  border: 1px solid currentColor;
  background-color: var(--color-background);
  color: var(--color-foreground);
}
.Input input {
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--color-foreground);
}

.Input input:focus {
  outline: none;
}

.Input:focus-within {
  outline: none;
  border-color: var(--color-buttonFocus);
  box-shadow: inset 0 0 0 2px var(--color-buttonFocus);
}

.Button {
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-background);
  color: var(--color-foreground);
  border: 1px solid currentColor;
  background-position: right 12px top 17px;
  background-repeat: no-repeat;
}

.Button:hover {
  background-color: var(--color-uiAccent);
}

.Button:focus,
.Button:active {
  border-color: var(--color-buttonFocus);
  box-shadow: inset 0 0 0 2px var(--color-buttonFocus);
}

.Button:disabled,
.Button:disabled:active {
  border-color: var(--palette-white-3);
  color: var(--palette-white-3);
  box-shadow: none;
}

.Button:disabled:hover {
  background-color: var(--color-background);
}

.ChartLink {
  text-align: left;
}

.ChartLink:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.ChartLink:focus {
  color: var(--color-buttonFocus);
}
.ChartLink:focus:not(:focus-visible) {
  color: var(--color-foreground);
}
.ChartLink:focus-visible {
  color: var(--color-buttonFocus);
}

.ChartLink:hover,
.ChartLink:active,
.ChartLink:focus:not(:focus-visible):active {
  color: var(--color-buttonFocus);
}

.ChartLink[aria-current="page"] {
  font-weight: 700;
}

.ChartWrapper + .ChartWrapper {
  border-top: 1px solid var(--color-uiAccent);
}

.MenuButton {
  color: var(--palette-white-3);
}

.MenuButton:focus,
.MenuButton:hover,
.MenuButton:active {
  outline: none;
  box-shadow: none;
  color: var(--color-foreground);
}
.MenuButton:focus:not(:focus-visible) {
  color: var(--palette-white-3);
}
.MenuButton:focus:not(:focus-visible):active {
  color: var(--color-foreground);
}
.MenuButton:focus-visible {
  color: var(--color-foreground);
}
