.Navigation {
  width: 100%;
  max-width: 800px;
  justify-self: center;
  position: relative;
}

@media (min-width: 1200px) {
  .Navigation {
    width: 100%;
    max-width: 1400px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-around;
    align-items: start;
  }
}

.ChartSection {
  grid-template-rows: auto 80px auto;
  align-items: start;
}

.ChartLink [class*="slang-type"] {
  text-align: left;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ChartLink:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.ChartLink:focus,
.ChartLink:focus-visible {
  background-color: var(--color-nodeHover);
}

.ChartLink:hover,
.ChartLink:active,
.ChartLink:focus:not(:focus-visible):active {
  background-color: var(--color-nodeHover);
}

.ChartLink[aria-current="page"] {
  background-color: var(--color-input);
}

.ChartWrapper + .ChartWrapper {
  border-top: 1px solid var(--color-uiAccent);
}

.MenuButton {
  color: var(--palette-white-3);
}

.MenuButton:focus,
.MenuButton:hover,
.MenuButton:active {
  outline: none;
  box-shadow: none;
  color: var(--color-foreground);
}
.MenuButton:focus:not(:focus-visible) {
  color: var(--palette-white-3);
}
.MenuButton:focus:not(:focus-visible):active {
  color: var(--color-foreground);
}
.MenuButton:focus-visible {
  color: var(--color-foreground);
}

.ChartList {
  border: 1px solid var(--color-uiAccent);
}

.NewChartLink,
.IconButton {
  text-align: left;
  white-space: nowrap;
}

.NewChartLink[aria-current="location"] {
  border-color: transparent;
  background-color: var(--color-highlightColor);
  color: white;
}

.NewChartLink:focus-visible {
  outline: hsla(var(--color-brandHsl), 1) invert 1px;
}

.NewChartLinkSubtext,
.NewChartLinkSubtext p {
  text-align: right;
}

.LinkColumnTitles {
  color: var(--color-lineNumbers);
}

.LinkColumnTitles span,
.LinkColumnTitles p {
  text-align: right;
}

.LinkColumnTitles span:first-child {
  text-align: left;
}

.IconButton {
  min-width: 0;
}
.NewChartLink span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.CallOut {
  text-align: left;
  border-top: solid 2px;
}

.FlowchartPerson {
  width: 100%;
  border-radius: 20px;
  height: auto;
  margin-inline: auto;
  background-color: var(--palette-purple-3);
  padding: 10%;
  padding-bottom: 0;
}

.BlueButton {
  background-color: var(--palette-purple-0);
  color: var(--palette-white-0);
}
.BlueButton:focus,
.BlueButton:hover,
.BlueButton:active {
  background-color: var(--palette-purple-2);
}
