.Navigation {
  width: 100%;
  max-width: 800px;
  justify-self: center;
}

.ChartLink {
  text-align: left;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ChartLink:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.ChartLink:focus {
  color: var(--color-buttonFocus);
}
.ChartLink:focus:not(:focus-visible) {
  color: var(--color-foreground);
}
.ChartLink:focus-visible {
  color: var(--color-buttonFocus);
}

.ChartLink:hover,
.ChartLink:active,
.ChartLink:focus:not(:focus-visible):active {
  color: var(--color-buttonFocus);
}

.ChartLink[aria-current="page"] {
  font-weight: 700;
}

.ChartWrapper + .ChartWrapper {
  border-top: 1px solid var(--color-uiAccent);
}

.MenuButton {
  color: var(--palette-white-3);
}

.MenuButton:focus,
.MenuButton:hover,
.MenuButton:active {
  outline: none;
  box-shadow: none;
  color: var(--color-foreground);
}
.MenuButton:focus:not(:focus-visible) {
  color: var(--palette-white-3);
}
.MenuButton:focus:not(:focus-visible):active {
  color: var(--color-foreground);
}
.MenuButton:focus-visible {
  color: var(--color-foreground);
}
