.iconButton {
  font-size: 0;
}

.twitter {
  --icon-size: 22px;
  width: var(--icon-size);
  height: var(--icon-size);
}
.twitter path {
  fill: #1da1f2;
}

@media (min-width: 800px) {
  .twitter {
    --icon-size: 24px;
  }
}

.GroupButton:disabled {
  cursor: default;
}

.GroupButton {
  border: 1px solid var(--color-foreground);
}

.GroupButton:focus {
  border-color: var(--color-buttonFocus);
}

.GroupButton[aria-selected="true"] {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.GroupButton[aria-selected="false"]:hover {
  background-color: var(--color-uiAccent);
}

.LowerLinks a:focus {
  outline: none;
  color: var(--color-buttonFocus);
}
