.iconButton {
  font-size: 0;
}

.twitter {
  --icon-size: 22px;
  width: var(--icon-size);
  height: var(--icon-size);
}
.twitter path {
  fill: #1da1f2;
}

@media (min-width: 800px) {
  .twitter {
    --icon-size: 24px;
  }
}

.ButtonGroup .GroupButton:not(:first-child):not(:last-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ButtonGroup .GroupButton:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ButtonGroup .GroupButton:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.GroupButton[aria-pressed="true"],
.GroupButton:disabled {
  cursor: default;
  z-index: -1;
}

.GroupButton:hover,
.GroupButton:focus {
  z-index: 1;
}

.GroupButton + .GroupButton {
  margin-left: -1px;
}

.LowerLinks a:focus {
  outline: none;
  color: var(--color-buttonFocus);
}

.Settings {
  max-width: 800px;
  width: 100%;
  justify-self: center;
}
