body:not([class*="disableAnimation"]) .Input,
body:not([class*="disableAnimation"]) .Button {
  transition: 100ms cubic-bezier(0.075, 0.82, 0.165, 1) background-color,
    100ms cubic-bezier(0.075, 0.82, 0.165, 1) color,
    100ms cubic-bezier(0.075, 0.82, 0.165, 1) border-color;
}

.Input {
  position: relative;
  border-radius: 0;
  border: 1px solid var(--color-uiAccent);
  background-color: var(--color-input);
  color: var(--color-uiAccent);
}

.Input input,
.Input textarea {
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--color-foreground);
  width: 100%;
  resize: none;
}

.Input input:focus,
textarea:focus {
  outline: none;
}

.Input:focus-within {
  outline: none;
}

.InputSpinner {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.Button {
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-input);
  border: 1px solid var(--color-uiAccent);
  color: var(--color-foreground);
  background-position: right 12px top 17px;
  background-repeat: no-repeat;
  min-width: 100px;
}

.Button:hover,
.Button:focus,
.Button:active,
.Input:focus-within {
  background-color: var(--color-nodeHover);
  border-color: var(--color-edgeHover);
  box-shadow: none;
}

.Button:disabled,
.Button:disabled:active {
  color: var(--color-edgeHover);
  border-color: var(--color-lineColor);
  background-color: var(--color-background);
  box-shadow: none;
  cursor: default;
}

.Button:disabled:hover {
  border-color: var(--color-lineColor);
  background-color: var(--color-background);
}

.ButtonType {
  color: inherit;
}

.InnerDialog {
  border: 1px solid var(--color-uiAccent);
}

.CloseButton svg line {
  stroke-width: 10;
  stroke: var(--color-edgeHover);
  transition: 100ms stroke ease;
}

.CloseButton:hover svg line {
  stroke: var(--color-foreground);
}

.CancelNotice[data-style="warning"] {
  border: 1px solid var(--palette-yellow-2);
  background-color: var(--palette-yellow-2);
}

.CancelNotice[data-style="info"] {
  border: 1px solid var(--palette-purple-3);
  background-color: var(--palette-purple-3);
}

button.CancelNotice[data-style="info"]:hover {
  color: var(--color-highlightColor);
}
