.LinkCopyButton {
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid var(--color-uiAccent);
  min-width: 0;
}

.LinkCopy input:focus {
  outline: none;
  background-color: var(--color-uiAccent);
}

.Preview svg {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.Preview {
  background-color: var(--bg);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-uiAccent);
  max-height: 33vh;
}

.LinkCopyLeft {
  margin-top: -2px;
}

.DownloadButtons button {
  min-width: 0;
}

.CustomTextarea {
  font-family: monospace;
  line-height: 1.2;
  white-space: pre;
}
