.ShareButton {
  border: 1px solid var(--color-foreground);
  text-align: center;
}

.ShareButton:focus {
  border-color: var(--color-buttonFocus);
  outline: none;
  box-shadow: inset 0 0 0 3px var(--color-buttonFocus);
}
