.Page {
  /* background-color: hsla(var(--color-brandHsl), 0.05); */
  background-image: radial-gradient(
    circle at 50% 50%,
    hsla(var(--color-brandHsl), 0.25) 0%,
    hsla(var(--color-brandHsl), 0) 50%
  );
}

.orange {
  color: var(--palette-purple-0);
  font-weight: 700;
  display: inline-block;
}

.SponsorBlock {
  background-color: var(--color-background);
  color: black;
  outline: 2px solid hsla(var(--color-brandHsl), 0.125);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.SponsorBlock ul {
  padding-left: 1em;
}

.SponsorFormInput {
  background-color: white;
  border: 1px solid hsla(var(--color-foregroundHsl), 0.125);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.SponsorFormInput input {
  font-size: 16px !important;
  color: black !important;
}

.SponsorFormInput:focus-within,
.SponsorFormInput input:focus {
  background-color: white;
}

.SponsorFormInput input::placeholder {
  color: #757575;
}

.SignUpButton {
  background-color: var(--palette-purple-0);
  border-color: var(--palette-purple-0);
  color: white;
  font-weight: 700;
}

.SignUpButton:hover,
.SignUpButton:focus {
  background-color: #5062ed;
  border-color: #5062ed;
  color: white;
}

.RadioButton {
  background-color: hsla(var(--color-brandHsl), 0.2);
  color: hsla(var(--color-brandHsl), 1);
  padding-bottom: calc(var(--spacer-px) * var(--p) - 1px) !important;
}
.RadioButton:focus-visible,
.RadioButton:hover {
  background-color: hsla(var(--color-brandHsl), 0.3);
}

.RadioButton[aria-checked="true"] {
  background-color: hsla(var(--color-brandHsl), 1);
  color: white;
}

.SponsorBlockTitle {
  text-align: center;
}

.ReasonToSubscribeImg {
  width: 170px;
  height: 170px;
  object-fit: cover;
}

:global([data-testid="card-element"]) {
  border: 1px solid hsla(var(--color-foregroundHsl), 0.125);
}
