.Page {
  max-width: 500px;
  width: 100%;
  justify-self: center;
}

@media (min-width: 800px) {
  .Page {
    max-width: 900px;
  }
}

.SponsorBlock {
  background-color: var(--palette-purple-3);
  color: black;
  border: 1px solid hsla(var(--color-brandHsl), 0.33);
  box-shadow: 0px 0px 0.3px rgba(0, 0, 0, 0.012),
    0px 0px 0.9px rgba(0, 0, 0, 0.018), 0px 0px 1.8px rgba(0, 0, 0, 0.022),
    0px 0px 3.7px rgba(0, 0, 0, 0.028), 0px 0px 10px rgba(0, 0, 0, 0.04);
}

.SponsorBlock ul {
  padding-left: 1em;
}

.SponsorFormInput {
  background-color: white;
  border: none;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.SponsorFormInput input {
  font-size: 16px !important;
}

.SponsorFormInput:focus-within,
.SponsorFormInput input:focus {
  background-color: white;
}

.SponsorFormInput input::placeholder {
  color: #757575;
}

.SignUpButton {
  background-color: var(--palette-purple-0);
  border-color: var(--palette-purple-0);
  color: white;
  font-weight: 700;
}

.SignUpButton span {
  font-size: 16px !important;
}

.SignUpButton:hover,
.SignUpButton:focus {
  background-color: #5062ed;
  border-color: #5062ed;
  color: white;
}

.RadioButton {
  background-color: hsla(var(--color-brandHsl), 0.05);
}
.RadioButton:focus-visible,
.RadioButton:hover {
  background-color: hsla(var(--color-brandHsl), 0.3);
}

.RadioButton[aria-checked="true"] {
  background-color: hsla(var(--color-brandHsl), 0.5);
}
