.Page {
  max-width: 500px;
  width: 100%;
  justify-self: center;
}

.orange {
  color: orange;
  font-weight: 700;
}

@media (min-width: 800px) {
  .Page {
    max-width: 1200px;
    display: grid;
    grid-template: auto / minmax(0, 1.5fr) minmax(0, 1fr);
    align-content: start;
    align-items: center;
  }

  .PageTitle {
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
  }
}

.SponsorBlock {
  background-color: var(--palette-purple-3);
  color: black;
}

.SponsorBlock ul {
  padding-left: 1em;
}

.SponsorFormInput {
  background-color: white;
  border: none;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.SponsorFormInput input {
  font-size: 16px !important;
  color: black !important;
}

.SponsorFormInput:focus-within,
.SponsorFormInput input:focus {
  background-color: white;
}

.SponsorFormInput input::placeholder {
  color: #757575;
}

.SignUpButton {
  background-color: var(--palette-purple-0);
  border-color: var(--palette-purple-0);
  color: white;
  font-weight: 700;
}

.SignUpButton:hover,
.SignUpButton:focus {
  background-color: #5062ed;
  border-color: #5062ed;
  color: white;
}

.RadioButton {
  background-color: hsla(var(--color-brandHsl), 0.2);
  color: hsla(var(--color-brandHsl), 1);
  padding-bottom: calc(var(--spacer-px) * var(--p) - 1px) !important;
}
.RadioButton:focus-visible,
.RadioButton:hover {
  background-color: hsla(var(--color-brandHsl), 0.3);
}

.RadioButton[aria-checked="true"] {
  background-color: hsla(var(--color-brandHsl), 1);
  color: white;
}

.SponsorBlockTitle {
  text-align: center;
}
