.InvoicesTable {
  overflow: hidden;
}

tbody .TableCell {
  border-top: 1px solid var(--color-uiAccent);
  background-color: var(--color-background);
}

tbody .TableCell:not(:first-child) {
  border-left: 1px solid var(--color-nodeHover);
}

.InvoicesTable {
  background-color: var(--color-input);
  box-shadow: 0 0 0px 1px var(--color-uiAccent);
  display: table;
  border-collapse: collapse;
}

.CardEl {
  border: 1px solid var(--color-uiAccent);
}

.InfoCell::first-letter {
  text-transform: capitalize;
}

.Wrapper {
  max-width: 800px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .Wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.CustomerPortalLink {
  justify-self: start;
  border: 1px solid hsla(var(--color-brandHsl), 1);
  color: hsla(var(--color-brandHsl), 1);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  display: grid;
  align-items: center;
  gap: 0.5rem;
  justify-content: start;
  grid-auto-flow: column;
}
