@media (max-width: 799px) {
  .TextareaContainer {
    display: none;
  }
}

.Top {
  overflow: hidden;
  position: relative;
}

.TextareaContainer {
  border-right: solid 1px var(--color-uiAccent);
  overflow: hidden;
}

.resizableHandle {
  background-color: var(--color-foreground);
  opacity: 0;
}

@media (min-width: 800px) {
  .resizableHandle:hover,
  .resizableHandle:active {
    opacity: 0.25;
  }
}
