.btn {
  @apply text-neutral-500 relative py-3 px-2 rounded-t-md aria-[selected=true]:text-blue-500;
  @apply dark:hover:bg-neutral-800 text-sm;
}

.TabsList {
  position: relative;
}

.TabsList::after {
  content: " ";
  height: 2px;
  @apply absolute bottom-0 right-0 bg-blue-500;
  left: var(--tab-offset-left);
  width: var(--tab-offset-width);
  transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
}
