.App {
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  overflow: hidden;
  height: 100%;
  height: -webkit-fill-available;
  min-height: 100%;
  max-height: 100%;
}

.FocusLock {
  height: 100%;
}
@media (max-width: 799px) {
  .TextareaContainer {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
@media (min-width: 800px) {
  .App {
    grid-template-rows: none;
    /* grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); */

    display: flex;
  }

  .TextareaContainer {
    border-bottom: none;
    box-shadow: inset -1px 0px 0px var(--color);
  }
}

.TextareaContainer {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--color);
}

.GraphContainer {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  gap: var(--space-v-px);
  overflow: hidden;
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 800px) {
  .GraphContainer {
    height: 100vh;
  }
}

.GraphContainer [id="cy"] {
  width: 100%;
  overflow: hidden;
}

.Buttons {
  display: grid;
  justify-content: space-between;
  align-items: end;
  grid-auto-flow: column;
}

.Buttons div {
  display: grid;
  grid-auto-flow: column;
  gap: var(--space-h-px);
  align-items: center;
}

.Buttons button {
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

.Buttons a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.resizer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
  width: 128px;
  display: inline-block;
  word-break: keep-all;
  font-family: -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
