@font-face {
  font-family: "Hubot Sans";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/HubotSans-Regular.otf') format('opentype');
}
@font-face {
  font-family: "Hubot Sans";
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/HubotSans-Medium.otf') format('opentype');
}
