@font-face {
  font-family: "Open Runde";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/OpenRunde-Regular.otf') format('opentype');
}
@font-face {
  font-family: "Open Runde";
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/OpenRunde-Medium.otf') format('opentype');
}
@font-face {
  font-family: "Open Runde";
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/OpenRunde-Semibold.otf') format('opentype');
}
