name: CI
on: [push]
jobs:
  build:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install Deps
        run: yarn
      - name: Benchmark
        run: yarn workspace app benchmark
