name: E2E

on: [pull_request]

jobs:
  dump:
    runs-on: ubuntu-latest
    steps:
      - name: Dump context
        uses: crazy-max/ghaction-dump-context@v1
  test:
    name: End-to-end Tests
    runs-on: macos-latest
    steps:
      - name: Get preview url
        id: get_url
        run: |
          STATE="not ready"
          echo "Hello World"
          echo "${{ github }}"
          CURRENT_HASH=${{ github.event.pull_request.head.sha }}
          echo $CURRENT_HASH
          until [ "$STATE" = '"READY"' ]
          do
            RESULTS=$(curl -s -H 'Accept: application/json' -H "Authorization: Bearer ${{ secrets.VERCEL_TOKEN }}" "https://api.vercel.com/v6/now/deployments?teamId=tone-row&name=flowchart-fun")
            echo $RESULTS;
            CLEAN=$(echo $RESULTS | tr -d '[:cntrl:]');
            STATE=$(echo $CLEAN | jq --arg h "$CURRENT_HASH" '.deployments[] | select(.meta.githubCommitSha==$h) | .state');
            echo $STATE
            sleep 5
          done
          echo "Deployment is ready!"
          URL=https://$(echo $CLEAN | jq --arg h "$CURRENT_HASH" '.deployments[] | select(.meta.githubCommitSha==$h) | .url')
          echo ::set-output name=preview_url::$(echo $URL)
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install Playwright
        run: |
          npx playwright install-deps
          npm install -D @playwright/test
      - name: Run E2E Tests on Vercel Preview URL
        run: E2E_START_URL="${{ steps.get_url.outputs.preview_url }}" yarn workspace app e2e
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: test-results
          path: app/test-results
